.header {
    position: fixed;
    z-index: 999;
    top:0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: #2a4867;
}

.toggle {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #306497;
    cursor: pointer;
    margin: 20px;
    span {
        position: absolute;
        font-size: 24px;
        font-family: monospace;
        line-height: 20px;
        text-align: center; 
        width: 20px;
        height: 20px;
        top: 50%;
        left: 50%;
        background: #fff;    
        transform: translate3d(-50%, -50%, 0);
    }
}
