<nav class="menu">
  <div class="level">
      <ul [ngStyle]="{'transform': _menu.state[0] ? 'translate3d(0px, 0px, 0px)' : 'translate3d(-300px, 0px, 0px)',
                      'width': _menu.w[0] + 'px'}">
          <li (click)="_menu.toggle(1)">Devices</li>
          <li>Bikes</li>
          <li>Clothing</li>
        </ul>
  </div>
  <div class="level">
      <ul [ngStyle]="{'transform': !_menu.state[1] ? 'translate3d(-300px, 0px, 0px)' : 'translate3d(0px, 0px, 0px)',
                      'width': _menu.w[1] + 'px'}">
          <li>Computer</li>
          <li>Laptop</li>
          <li>Speakers</li>
        </ul>
  </div>
</nav>