.menu {
    ul {
        position: fixed;
        overflow: hidden;
        box-sizing: border-box;
        z-index: 999;
        top: 80px;
        bottom: 0;
        left: 0px;
        background-color: #999;
        padding: 0;
        margin: 0;
        list-style: none;
        transition: all 0.5s;

        li {
            box-sizing: border-box;
            height: 50px;
            line-height: 50px;
            padding-left: 10px;
            width: 100%;
            background-color: rgba(0,0,0,0.1);
            color: #efefef;
            transition: all 0.5s;
            
            a {
                display: block;
                text-decoration: none;
                color: #fff;
                height: 100%;
                width: 100%;
            }
        }

        li:hover {
            background-color: rgba(0,0,0,0.2);
        }
    }
    ul.active {
        transform: translate3d(0px,0px,0px);
    }
    
}

