<nav class="menu">
  <div class="level" *ngFor="let level of _menu.state; let i = index;">
    <ul [ngClass]="level.active ? 'active' : 'inactive'" 
        [ngStyle]="{
          'width': level.width + 'px', 
          'background-color': 'hsl(' + _menu.colorsH[i] + ', 50% , 35%)',
          'transform': level.active === 0 ? 'translate3d(-' + level.width+ 'px, 0px, 0px)' : ''
        }">
        <li *ngFor="let item of level.items; let x = index"
            
            (click)="item.toggle && _menu.toggle(item.toggle)"
            [routerLink]="item.route">
            {{item.name}}
        </li>
    </ul>
  </div>
</nav>